*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header */
header{
    width: 100%;
    background-color: black;
    display: flex;
}
logo{
    color: white;
    padding: 18px;
    font-size : 20px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
nav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 18px;
}
nav input{
    margin-right: 8px;
}
nav #search{
    background:transparent;
    color: white;
    border: black;
    cursor: pointer;
}

/* For Adding Resolutions */
main{
    width: 100%;
    display: flex;
    justify-content:center; 
}
main #main-div{
   padding-top: 40px;
   width: 70%;
}
#add-resolution-heading{
   padding:15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#add-resolution{
padding:10px;
display: flex;
 align-items: center;    /*for doing add button in center */
}
#main-div #add-resolution textarea{
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
}
#add-res-btn{
    width: 70px;
    height: 40px;
    background-color: mediumblue;
    color: white;
    border-radius: 30px;
    border:2px solid black
}
/* WARNING MESSAGE */
#message{
    padding-bottom: 40px;
    padding-left: 20px;
    color: red;
}
/* Display Resolution */
#display-div{
    margin-bottom: 50px;
    padding-bottom: 20px;
}
 #display-res-heading{
    padding:15px;
    padding-left: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 /* Showres */
 #res{
    width: 80%;
    margin-left: 0px;
    margin:auto;
    display: flex;
    flex-direction: column;
}
 #res1{
     width: 100%;
     display: flex;
     justify-content: center;
    align-items: center;
    
 }
 .displayRes{
      width:100%;
    background-color: #f5416e;
     border:2px solid black;
     padding: 10px;
     margin: 10px;
     color: white;
      display: grid;
      grid-template-columns: 70px auto 20px;
 }
 .displayRes p{
     font-size: 17px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .displayRes button{
     height: 15px;
     margin-right: 6px;
     margin-left: 3px;
     background-color: #f5416e;
     margin-top: 1%;
     border: none; 
 }
 #unfound{
    width:100%;
     padding: 10px;
     margin: 10px;
     color: crimson
}
/* Media query */
 @media(max-width:850px) {
    nav{
        padding-left: 18%;
    }
}
@media(max-width:750px) {
    nav{
        padding-left: 15%;
    }
    nav input{
        width:60%;
    }
    #res{
        width:95%;
        display: flex;
        justify-content: center;
    }
}
@media(max-width:610px){
    #add-resolution-heading{
font-size:14px;
    }
    logo{
        width: 80%;
    }
    #res{
        width:95%;
        display: flex;
        justify-content: center;
    }
    .displayRes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .displayRes p{
      grid-area: 2/1/3/3;
       margin-top:6px;
    }
    .displayRes button{
     grid-area: 1/2/2/3;
  display: flex;
  justify-content: flex-end;
    }
    nav input{
        width: 100px;
    }

@media(max-width:560px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    logo{
        width: 100%;
    }
    nav input{
        width: 100%;
        margin-left: -55px;
        padding: 2px;
        border-radius: 5px;
        cursor: pointer;
    }
    nav{
        width: 100%;
        background-color: white;
    }
    nav #search{
        color: black;
        outline: none;
    }
    #add-resolution-heading{
        font-size:13px;
    }
    #res{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .displayRes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .displayRes p{
      grid-area: 2/1/3/3;
       margin-top:6px;
    }
    .displayRes button{
     grid-area: 1/2/2/3;
     display: flex;
     justify-content: flex-end;
}
@media(max-width:500px){
    logo{
        width: 100%;
    }
    main #main-div{
        width: 85%;
     }
     #res{
        width:100%;
        display: flex;
        justify-content: center;
    }
    #displayRes{
        display: grid;
        grid-template-columns: 1fr 1fr;   
    }
    #displayRes p{
      grid-area: 2/1/3/3;
       margin-top:6px;
    }
    #displayRes button{
     grid-area: 1/2/2/3;
  display: flex;
  justify-content: flex-end;
}
@media(max-width:440px){
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav input{
        margin-left: -10px;
        margin-bottom: 5px;
    }
    main #main-div{
        width: 95%;
     }
     #add-resolution-heading{
        font-size:8px;
        margin-top: -20px;
    }
    #add-resolution{
        display: flex;
        flex-direction: column;
    }
    #add-resolution button{
        margin-top:15px;
    }
    #display-res-heading{
        font-size:11px;
        margin-left: -15px; 
    }
    logo{
        width: 100%;
        font-size: 15px;
    }
    #res{
        width:100%;
        display: flex;
        justify-content: center;
    }
    #displayRes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #displayRes p{
      grid-area: 2/1/3/3;
       margin-top:6px;
    }
    #displayRes button{
     grid-area: 1/2/2/3;
     display: flex;
  justify-content: flex-end;
}
